html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  display: flex;
  height: auto;
  min-height: calc(100% - 41px);
}

#grid {
  position: relative;
  padding: 5px;
  box-shadow: 2px 0px 10px rgba(0,0,0,.15);
}

#grid-inner {
  visibility: hidden;
}

@media (min-width: 721px) {
  #grid {
    width: calc(90% - 220px);
  }

  #sidebar {
    width: calc(220px + 10%);
  }
}

@media (max-width: 720px) {
  #container {
    flex-flow: column;
  }
}